# Python packages and versions used in development environment
#
# Create/update this file with:
#   (pypkg-expts)$ python3 -m pip list --format=freeze --path $CONDA_PREFIX/lib/python3*/site-packages >> envs/requirements.txt

